<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/jquery.tiles.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>    
    <script src="/bootstrap/js/jquery.tiles.min.js"></script>
    <script src="/bootstrap/js/jquery.snow.min.js"></script>
    <script src="/bootstrap/js/jquery.contenthover.js"></script>
    
  </head>
  <body>
    <p>Join our <%= title %></p>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	       </button>
	       <a class="brand" href="/">Virtual Farmers Market</a>
	         <div class="nav-collapse collapse">
	           <ul class="nav">
                  <li class="active"><a href="/welcomefarmer">Home</a></li>
                  <li><a href="/staffpicks">Buy</a></li>
 
    
                  <li><a href="/welcomecustomer" rel="tooltip" title=HELLO" id="blah"><%= session.username %><%= session.lastname %></a></li>
                  <li class = "pull-right"> <a href="/logout">logout</a></li>

	            </ul>

	          </div><!--/.nav-collapse -->

	        </div>
	      </div>
	    </div>

	
    <div class="container">	      
      <div class="page-header" style="height:468px;">
	<div class="slider-wrap" style="max-height:468px;" >
		<div class="slider" style="max-height:468px;">
    		<img src="/bootstrap/img/IMG4.jpg"  />
			<img src="/bootstrap/img/IMG5.jpg"/>
    		<img src="/bootstrap/img/IMG3.jpg"/>
			<img src="/bootstrap/img/IMG2.jpg"/>
			<img src="/bootstrap/img/IMG1.jpg"/>
			<img src="/bootstrap/img/IMG6.jpg"/>
		</div>
	</div>
      </div>	
	
	  <!-- Example row of columns -->
	     
	     
      <div class="row">
        <div class="span2">           
            <ul class="nav nav-list">
                <li class="nav-header">Feast of Artisans</li>
                  <li class="active"><a href="/welcomecustomer">Home</a></li>

                <li class="divider"></li>    
                <li><a href="/myproduces">My Produces</a></li>
    
                <li><a href="/uploaditems">Upload items</a></li>                

                <li class="divider"></li> 
                <li><a href="/logout">Logout</a></li>       
            </ul>
        </div>
        <div class="span10">
           <h2>Today at the market....</h2>          
         <ul class="thumbnails">
            <h2 <%= title %> /h2>           
            <% var rows = data.itemcount/3 %>
            <table>
            <% for(var i=0; i<rows; i++) { %>
                <tr>
                <% for(var j=0; j<3; j++) { %>
                    <% if ((i*3+j) < data.itemcount) { %>
                        <td>
                        <a href="/staffpickitem/<%= data.itemnames[i*3+j] %>">
                          <img src=<%= data.itemimages[i*3+j] %> />
                        </a>
                        <h4> <%= data.displaynames[i*3+j] %> </h4>                      
                        </td>
                    <% } %>
                <% } %>
                </tr>
            <% } %>
            </table>
          
       </div><!-- .class span12 -->
 
         
          
            
	  </div><!-- .class== row -->
       
      <hr>

      <footer>
        <p>© SJSU Fall 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
 
 <script>
	$(document).ready(function($) {
	$('body').snowing(options);
	});

	//possible parameters and their default values:
	var options = {
	minSize : 30, //minimum size of single flake
	maxSize : 60, //maximum size of single flake
	minOpacity : 0.3, //minimum opacity of single flake (0-1 values range)
	maxOpacity : 1, //maximum opacity of single flake (0-1 values range)
	intensity : 10, //intensity of snowing (higher -> more intense)
	meltingTime : 5, //time after which flakes disappear (higher -> later)
	flakeColors : ["#AAFFAA", "#AAAAFF", "#CCCCFF"], //array of possible colors that flakes randomly take
	flakeChars : ['&#10052;', '&#10053;', '&#10054;'] //array of possible unicode characters codes that flakes randomly take
	};
</script>    
<script>

      var $slider = $('.slider-wrap');
      var html = $slider.html();

      // Options

      var defaults = {
        thumbSize: 20,
        onSlideshowEnd: function(){ $('.stop, .start').toggle() }
      };

      var effects = {
        'default': { x:6, y:4, random: true },
        simple: { x:6, y:4, effect: 'simple', random: true },
        left: { x:1, y:8, effect: 'left' },
        up: { x:20, y:1, effect: 'up', rewind: 60, backReverse: true },
        leftright: { x:1, y:8, effect: 'leftright' },
        updown: { x:20, y:1, effect: 'updown', cssSpeed: 500, backReverse: true },
        switchlr: { x:20, y:1, effect: 'switchlr', backReverse: true },
        switchud: { x:1, y:8, effect: 'switchud' },
        fliplr: { x:20, y:1, effect: 'fliplr', backReverse: true },
        flipud: { x:20, y:3, effect: 'flipud', reverse: true, rewind: 75 },
        reduce: { x:6, y:4, effect: 'reduce' },
        360: { x:1, y:1, effect: '360', fade: true, cssSpeed: 600 }
      };

      $('#effects-select').change(function() {
        var effect = $(this).val();
        $slider.fadeTo( 0,0 ).html( html );
        $('.stop').hide();
        $('.start').show();
        setTimeout(function() {
          $('.slider').tilesSlider( $.extend( {}, defaults, effects[ effect ] ) );
          $slider.fadeTo( 0,1 );
          $('body').removeClass('tiles-preload');
        }, 100 );
        $('.code').empty().html(function() {
          var e = effects[ effect ], c = [];
          for ( var i in e ) {
            if ( i !== 'effect' ) {
              c.push('<code>'+ i +': '+ e[i] +'</code>');
            }
          }
          return c.join('');
        });
      });

      $('.start').click(function() {
        $(this).hide();
        $('.stop').show();
        $('.slider').tilesSlider('start')
      });

      $('.stop').click(function() {
        $(this).hide();
        $('.start').show()
        $('.slider').tilesSlider('stop')
      });

      $('.slider').tilesSlider( $.extend( {}, defaults, effects['default'] ) );
     $('.slider').tilesSlider('start');
  </script>   

   <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/jquery-1.10.2.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
         
         

  
  </body>
</html>
